@import url('https://fonts.googleapis.com/css?family=Roboto:700,700italic,regular,italic|Roboto+Slab:700,regular|Biryani:700,regular');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*custom style*/

nav a {
  text-decoration: none;
  color: #000;
  width: 0px;
  border-bottom: solid 1px transparent;
  transition: border-bottom 0.3s ease-out;
  height: 25px;
  position: relative;
}

nav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: solid 1px #000;
  transition: 0.4s;
}

nav a:hover:after {
  width: 100%;
}

nav {
  top:  5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  width: 100%;
}

.left-nav,
.right-nav {
  padding: 25px;
}

.left-nav a {
  margin-right: 15px;
}

.right-nav a {
  margin-left: 15px;
}

body {
  font-family: Biryani;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
	background-color: #FFFDF5;
}

header {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

header a {
  color: #898196;
  font-weight: 700;
}

header a:hover {
  color: rgb(240, 157, 62);
  font-weight: 700;
  transition: 0.2s;
}

header h1 {
	font-size: 3rem;
	font-weight: 700;
  font-family: Roboto Slab;
}

li {
    font-size: 1rem;
    margin-left: 40px;
    list-style-type: circle;
 }

 .metrics-section {
  display: flex;
  padding-left: 0;
  margin-bottom: 5%;
 }

 .metrics li {
  font-size: 1.5rem;
  font-family: roboto slab;
  list-style-type: none;
 }

 .clients {
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to right, #EADDFF, #F9E2CE);
  padding-top: 5%;
  padding-bottom: 5%;
 }

 .clients p {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 2rem;
 }

 .client-list {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 2rem;
 }

 .clients img { 
    width: 15%;
  }

.projects {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  margin-top: 10%;
  margin-bottom: 5%;
}

.project-list {
  gap: 1rem;
}

.projects p {
  margin-bottom: 20px;
}

.card {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card img {
  max-width: 40%;
  height: auto;
}

.projects .cta {
  display: inline-block;
  padding: .75rem .5rem .5rem .5rem;
  border: 1px solid black;
  border-radius: 8px;
  background: #E5EEFF;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.5);
}

.projects .cta:hover {
  background: #CCDEFF;
  color: black;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

footer {
  padding: 15px;
  text-align: right;
  font-size: 12px;
}

/* project pages */

.title-text {
  margin-top: 5%;
  margin-bottom: 5%;
}

.intro-section {
  background: linear-gradient(to right, #EADDFF, #F9E2CE);
  padding: 3rem;
  width: 100%;
}

.intro-section img {
  display: block;
  margin: 0 auto;
}

.problem-intro {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 20px; 
  margin: 40px auto;
  max-width: 1000px;
}

.hero-image img {
  max-width: 1000px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hero-text p {
  flex: 1;
  margin-top: 40px;
  margin-bottom: 40px;
}

.problem-intro-text p {
  flex: 1;
  margin-top: 20px;
}

.content {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
  /* margin-top: 5%;
  margin-bottom: 5%; */
}

.content img {
  width: 50%;
  display: block;
  margin: 5% auto;
}

.content a {
  color: rgb(10, 61, 128);
}

.content a:hover {
  color: rgb(240, 157, 62);
  transition: 0.2s;
}

.content p { 
  margin-top: 10px;
}

.subtext {
  color: rgb(52, 61, 87);
  font-size: 14px;
  margin-bottom: 10%;
}

.NextCase {
  background: linear-gradient(to right, #EADDFF, #F9E2CE);
  width: 100%;
}

.NextCase-container{
	margin-right: auto;
	margin-left: auto;
  width: 70%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    margin-bottom: 1.5rem;
  }
}
