@import url('https://fonts.googleapis.com/css?family=Roboto:700,700italic,regular,italic|Roboto+Slab:700,regular|Biryani:700,regular');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*custom style*/

nav a {
  text-decoration: none;
  color: #000;
  width: 0px;
  border-bottom: solid 1px transparent;
  transition: border-bottom 0.3s ease-out;
  height: 25px;
  position: relative;
}

nav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: solid 1px #000;
  transition: 0.4s;
}

nav a:hover:after {
  width: 100%;
}

nav {
  top:  5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  width: 100%;
}

.left-nav,
.right-nav {
  padding: 25px;
}

.left-nav a {
  margin-right: 15px;
}

.right-nav a {
  margin-left: 15px;
}

body {
  font-family: Biryani;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
	background-color: #FFFDF5;
}

header {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

header a {
  color: rgb(10, 61, 128);
  font-weight: 700;
}

header a:hover {
  color: rgb(240, 157, 62);
  font-weight: 700;
  transition: 0.2s;
}

header h1 {
	font-size: 32px;
	font-weight: 700;
  font-family: Roboto Slab;
}

li {
    font-size: 14px;
    margin-left: 40px;
    list-style-type: circle;
 }

 .clients {
  margin-left: auto;
  margin-right: auto;
  background-color: #E5DAF7;
  padding-top: 5%;
  padding-bottom: 5%;
 }

 .clients p {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 2rem;
 }

 .client-list {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 2rem;
 }

 .clients img { 
    width: 15%;
  }

.projects {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  margin-top: 10%;
  margin-bottom: 5%;
}

.projects p {
  margin-bottom: 20px;
}

.case-study {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.case-study img {
  max-width: 40%;
  height: auto;
}

.projects .cta {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.projects .cta:hover {
  background: #0056b3;
  color: white;
}

/* 
.project {
  position: relative;
  margin: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
*/

.overlay {
  opacity: 0;
  position: absolute;
  background-color: rgba(32, 58, 143, .85);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.overlay a {
  color: #fff;
  width: 0px;
  text-decoration: none;
  transition: border-bottom 0.3s ease-out;
  height: 25px;
  position: relative;
}

.overlay a:after {
  content: '';
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: solid 1px #fff;
  transition: 0.4s;
}

.project:hover .overlay {
  opacity: 1;
}

.overlay a:hover:after {
  width: 100%;
}

h2 {
  font-size: 40px;
}

h3 {
  color:#7e7e7e;
  margin-bottom: 5%;
}

footer {
  padding: 15px;
  text-align: right;
  font-size: 12px;
}

/* project pages */

.title-text {
  margin-top: 5%;
  margin-bottom: 5%;
}

.intro-section {
  background: linear-gradient(to right, #EADDFF, #F9E2CE);
  padding: 3rem;
  width: 100%;
}

.problem-intro {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 10%;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 20px; 
  margin: 40px auto;
  max-width: 1000px;
}

.hero-image img {
  max-width: 1000px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hero-text p {
  flex: 1;
  margin-top: 40px;
  margin-bottom: 40px;
}

.problem-intro-text p {
  flex: 1;
  margin-top: 20px;
}

.content {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.content h2 {
  font-size: 18px;
  font-weight: 700;
}

.content img {
  margin-top: 5%;
  margin-bottom: 5%;
}

.content a {
  color: rgb(10, 61, 128);
}

.content a:hover {
  color: rgb(240, 157, 62);
  transition: 0.2s;
}

.content p { 
  margin-top: 10px;
}

.subtext {
  color: rgb(52, 61, 87);
  font-size: 14px;
  margin-bottom: 10%;
}

.NextCase {
  background-color: #007bff;
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    margin-bottom: 1.5rem;
  }
}
